-@ val title: String
-@ val headline: String = title
-@ val body: String

!!! 5
%html
  %head
    %title= title
    %script(
      type="text/javascript"
      src="public/js/contacts.js")
    %script(
      type="text/javascript"
      src="public/js/jquery.min.js")
  %body
    :javascript
      $(document).ready(function() {
        $.getJSON("/contacts", function (data, status) {
          refreshContacts($("#contacts_list"), data)
        })
      })
    %header
      %h1= headline
    %section.content
      != body
    %footer
      %span= "logikujo.com"
